# This workflow will install Python dependencies, run tests and lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: status

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.ipynb'
      - 'paper/**'
      - '.github/workflows/publish.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.ipynb'
      - 'paper/**'
      - '.github/workflows/publish.yml'
      - '.github/dependabot.yml'
      - 'LICENSE'
  schedule:
    - cron:  '13 7 * * 2'
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    strategy:
      matrix:
        python-version: ["3.x",]
        os: [ubuntu-latest,]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/ruff-action@v3
      with:
        src: "./sphere"
        version: "latest"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
    - name: Test with doctest
      run: python sphere/distribution/distribution.py -v
    # - name: Run example without plots
    #   run: python sphere/example/example.py --no-plots

  results:
    runs-on: ubuntu-latest
    name: Final Results
    needs: [checks]
    if: >-
      ${{
      always() &&
      (contains(needs.*.result, 'success') ||
      contains(needs.*.result, 'failure') ||
      contains(needs.*.result, 'cancelled'))
      }}
    steps:
      - run: exit 1
        # see https://stackoverflow.com/a/67532120/4907315
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
